.contact-info-container{
    margin-top: -1rem;
}
.contact-card{
    border: 1px solid #dee2e6;
    border-top: none;
    .contact-card-title{
        position: relative;
        &::after{
            display: block;
            content: "";
            height: 1px;
            width: 50px;
            background-color: #F85C70;
            position: relative;
            bottom: -4px;
        }
    }
    .expert-card{
        border-bottom: 1px solid #ddd;
        .details{
            width: calc(100% - 2.5rem);
        }
    }
    .expert-card:last-child{
        border-bottom: none;
    }
}